<a href="https://colab.research.google.com/github/MoreKajal/Python_Daily_Practice/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
to = [46, 13]
pe = ["s", "T","C"]
for x in to:
  for y in pe:
    print(x,y)

46 s
46 T
46 C
13 s
13 T
13 C

In [ ]:
t1 = (1,2,3)
len(t1.append((4,5)))

AttributeError: ignored

In [ ]:
a = "HELLO WORLD"
#a = 'helloworld'
#isTitle
print(a.title())

Helloworld

In [ ]:
x =1
while True:
  if x % 6 = 0:
    break
  print(x)
  x += 1

SyntaxError: ignored

In [ ]:
def star(b):
  for a in range(b):
    print(' ' * (a - b -1) + '*' * (2* b + 1))
star(3)

*******
*******
*******

In [ ]:
if -1:
  print("true")
else:
  print("false")

true

In [ ]:
print(4 * 3 ** 2 // 3)

12

In [ ]:
color_codes = {
    "blue":"blau"
}
print(color_codes["blau"])

KeyError: ignored

In [ ]:
int1 = 6
def fn1():
  global int1
int2 = int1 *9
print(int2)
int1 = 2
fn1()

54

In [ ]:
alpha = [21,32,12]
alpha.pop(1)
print(alpha)

[21, 12]

In [ ]:
listA = ['a', 'b', 'c']
print(sum(listA))

TypeError: ignored

In [ ]:
class test:
  def __init__(self):
    self.variable = 'one'
    self.Change(self.variable)
  def Change(self, var):
    var = 'two'
obj = test()
print(obj.variable)

one

In [ ]:
a = [812, 431]
b = a 
b = [21, 629] + b
print(a)
print(b)

[812, 431]
[21, 629, 812, 431]

In [ ]:
print({1,2,3,4} & {4,5,6})

{4}

In [ ]:
class foo:
  def __init__(self,x ):
    self.x = x 
  def __lt__(self, other):
    if self.x < other.x:
      return True
    else:
      return False
a = foo(2)
b = foo(3)
print(a < b)

True

In [ ]:
x = [947, 265]
print(len(''.join(list(map(str,x)))))

6

In [ ]:
class bags:
  def __init__(self, price):
    self.price = price
obj = bags(100)
obj.quantity = 50
obj.books = 2
print(obj.quantity + len(obj.__dict__))

53

In [ ]:
class A():
  def __init__(self, bound=63):
    self.bound = bound
obj1 =A()
obj2 = A(42)
print(obj1.bound)
print(obj2.bound)

63
42

In [ ]:
class Emp:
  def __init__(self, name, id):
    self.name = name
    self.id = id
    print(self.id)
obj = Emp("R", 1)
obj.id = 2
print(obj.id)

1
2

In [ ]:
try:
  if ' 5 ' != 5:
    raise "Wel"
  else:
    print("Else")
except "Wel":
  print("if")

TypeError: ignored

In [ ]:
class Demo:
  def __init__(self):
    pass
  def test(self):
    print(__name__)
obj = Demo()
obj.test()

__main__

In [ ]:
print('\t'.isspace())

True

In [ ]:
print(type(42.0))

<class 'float'>

In [ ]:
print(float('fifty-two and a half'))

ValueError: ignored

In [ ]:
x = 2.5e6
print(x)

2500000.0

In [ ]:
A = 5
B = 6
if A == 127 or B!=18:
  print('True')
else:
  print('No')

True

In [ ]:
for i in range(1,5):
  print(i, 'multiplied by 8 = ', i * 8)

1 multiplied by 8 =  8
2 multiplied by 8 =  16
3 multiplied by 8 =  24
4 multiplied by 8 =  32

In [ ]:
count = 0
for a in range(0,2):
    for b in range(0,2):
        for c in range(0,2):
            for d in range(0,2):
                for g in range(0,2):
                   for f in range(0,2):
                     count += 1
                     print('count is-', count)

count is- 1
count is- 2
count is- 3
count is- 4
count is- 5
count is- 6
count is- 7
count is- 8
count is- 9
count is- 10
count is- 11
count is- 12
count is- 13
count is- 14
count is- 15
count is- 16
count is- 17
count is- 18
count is- 19
count is- 20
count is- 21
count is- 22
count is- 23
count is- 24
count is- 25
count is- 26
count is- 27
count is- 28
count is- 29
count is- 30
count is- 31
count is- 32
count is- 33
count is- 34
count is- 35
count is- 36
count is- 37
count is- 38
count is- 39
count is- 40
count is- 41
count is- 42
count is- 43
count is- 44
count is- 45
count is- 46
count is- 47
count is- 48
count is- 49
count is- 50
count is- 51
count is- 52
count is- 53
count is- 54
count is- 55
count is- 56
count is- 57
count is- 58
count is- 59
count is- 60
count is- 61
count is- 62
count is- 63
count is- 64

Imagine a square chessboard. 

The queen (or queen) can move vertically, horizontally and diagonally any number of cells. 

Based on the coordinates of the two squares, determine whether the queen can move from the first to the second in one move. If it can, print YES. Otherwise, print NO. The program gets 4 whole numbers from 1 to 8. The first and the second one give the column and the row for the first square, the third and the fourth for the second square.   

 

Entry example #1

1

1

2

2

Example result #1

YES

Entry example #2

1

1

8

2

Example result #2

NO

Write a program that asks the user for the number of lines for the entered poem. It then allows the user to enter the desired number of lines.

Then output the number of lines, vowels and consonants in the poem and in each line.

For simplicity, let us enter the poem in small English letters only. 

Input example: 

How many lines will there be? 4

Once there was an elephant,
Who tried to use the telephant
No! No! I mean an elephone
Who tried to use the telephone

Example result: 

Number of vowels: 40

Number of consonants: 51

A list of integers is given. It is required to "shrink" it by moving all non-zero elements to the left side of the list without changing their order, and all zeros to the right side. 

The order of the non-zero elements cannot be changed, an additional list cannot be used, and the task must be completed in one pass through the list. Print the resulting list.

Example input data:
4 0 5 0 3 0 0 5 

Example result: 

4 5 3 5 0 0 0 0

Important. The isalpha operator may not work on the platform. If you use it in your solution, write it in the code comments :)

In [ ]:
def fun( a, b):
  if(b == 0):
    return a;
  else:
    return(fun(b, a%b))
fun(4,6)

2

In [ ]:
#i ,j
for(i = 0, j = 5; i<j; i++, j--):
  print("%d %d", i , j)
return 0;

'''
int main()
{
    
    int i, j;
    for(i=0, j=5; i<j; i++, j--);
        printf("%d%d", i,j);
    
    

    return 0;
}

--Output 32
'''

SyntaxError: ignored